<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plague_Doctor</title>
</head>
<body>
<div>
    <h1><a href="/">Plague Doctor Blog</a> </h1>
</div>

<div>
    <p>published: 22.04.2019, 23.59</p>
    <h2><a href="">My first post</a> </h2>
    <p>Тут я должен был выпендриться, но я скромен ^_^</p>
</div>

<div>
    <p>publushed: 23.04.2019, 0.03</p>
    <h2><a href="">My second post</a> </h2>
    <p>It's so funny, Yippee!</p>
</div>
<p>Hell Yeeeeeeh!</p>
<p>It works!</p>
</body>
</html>